<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
</h:head> 
<body> 
       <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                    <tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="streetNumber" for="streetNumber" />
                        </td>
                        <td>
                            <h:inputText id="streetNumber" value="#{customer.streetNumber}" title="streetNumber" required="true" requiredMessage="Please enter the street number!" validatorMessage="Please enter a street number between 1 and 1000" converterMessage="Please enter a number" pt:placeholder="900">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1" maximum="1000" /> 
							</h:inputText>
                            <br/>
                            <h:message for="streetNumber" class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>

                    <tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="streetAddress" for="streetAddress" />
                        </td>
                        <td>
                            <h:inputText id="streetAddress" value="#{customer.streetAddress}" title="streetAddress" required="true" requiredMessage="Please enter the street address!" pt:placeholder="Dandenong Rd"/>
                            <br/>
                            <h:message for="streetAddress" class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!suburb.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="suburb" for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{customer.suburb}" title="suburb" required="true" requiredMessage="Please enter the suburb!" pt:placeholder="Caulfield East"/>
                        	<br/>
                            <h:message for="suburb" class="#{!suburb.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="state" for="state"/>
                        </td>
                        <td>
                            <h:inputText id="state" value="#{customer.state}" title="state" size="3" required="true" requiredMessage="Please enter the state!" pt:placeholder="VIC"/>
                            <br/>
                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="postcode" for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postcode}" title="postcode" required="true" requiredMessage="Please enter the postcode!" validatorMessage="Please enter a postcode between 0200 and 4700" converterMessage="Please enter a number" pt:placeholder="3145">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="200" maximum="4700" /> 
							</h:inputText>
							<br/>
							<h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="customerName:" for="customerName" />
                        </td>
                        <td>
                            <h:inputText id="customerName" value="#{customer.customerName}" title="customerName" required="true" requiredMessage="Please enter customer name!" validatorMessage="Customer name must be valid" converterMessage="Please enter a customer name" pt:placeholder="John Walker">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="customerName" class="#{!customerName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="totalPurchase:" for="totalPurchase"/>
                        </td>
                        <td>
                            <h:inputText id="totalPurchase" value="#{customer.totalPurchase}" title="totalPurchase" required="true" requiredMessage="Please enter the amount of total purchase!" validatorMessage="The total purchase must be larger than or equal to 0" converterMessage="Please enter a number" pt:placeholder="400">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="totalPurchase" class="#{!totalPurchase.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="country:" for="country" />
                        </td>
                        <td>
                            <h:inputText id="country" value="#{customer.country}" title="country" required="true" requiredMessage="Please enter the country!" pt:placeholder="AU">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="country" class="#{!country.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="industryType:" for="industryType" />
                        </td>
                        <td>
                            <h:selectOneMenu id="industryType" value="#{customer.industryType}" title="industryType">
                            <f:selectItem itemValue = "Bank" />
                            <f:selectItem itemValue = "Building" />
                            <f:selectItem itemValue = "Data Communication" />
                            <f:selectItem itemValue = "Education" />
                            <f:selectItem itemValue = "Farm" />
                            <f:selectItem itemValue = "Health" />
                            <f:selectItem itemValue = "Mining" />
                            <f:selectItem itemValue = "Publishing" />
                           	</h:selectOneMenu>
                           	<br/>
                           	<h:message for="industryType" class="#{!industryType.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="lastPurchase:" for="lastPurchase" />
                        </td>
                        <td>
                            <h:inputText id="lastPurchase" value="#{customer.lastPurchase}" title="lastPurchase" required="true" requiredMessage="Please enter the last purchased product!" pt:placeholder="abc">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="lastPurchase" class="#{!lastPurchase.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/index.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
</body> 
</html>
