<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">

	<h:head>
		<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head> 
<h:body>
       <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Detail
                </div>
            </div>

           <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Address:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{customerController.customer.address}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Customer Name: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{customerController.customer.customerName}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Industry Type: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "IndustryType" >
                                #{customerController.customer.industryType}
                            </h:outputLabel>    
                            
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Total Purchase: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "TotalPurchase" >#{customerController.customer.totalPurchase}</h:outputLabel>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Last Purchase: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "LastPurchase" >#{customerController.customer.lastPurchase}</h:outputLabel>    
                        </td>
                    </tr>
                    
                 </table>
                 
                 <table class="table table-bordered table-striped">
                    <tr>
                     <td> <h:outputLabel id = "FirstName" value = "Contact first name"/> </td>
                     <td> <h:outputLabel id = "Language" value = "Language speaking"/> </td>
                     <td> <h:outputLabel id = "PhoneNumber" value = "Phone number"/> </td>
                    </tr>
                    
                    <ui:repeat id="Myrepeat" value="#{customerController.customer.contacts}" var = "contactasa" Status="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent"> 
                            
                            <td>
                                <h:outputText value="#{contactasa.firstName}" id="outFirstName" /> 
                                
                            </td>
                            <td>
                                <h:outputText value="#{contactasa.language}" id="outLanguage" /> 
                            </td>
                            <td>
                                <h:outputText value="#{contactasa.phoneNumber}" id="outPhoneNumber" /> 
                            </td>
                            
                            <td>
                                <h:link value="View | " outcome="faces/detailContact.xhtml">
                                
                                  <f:param name="contactID" value= "4"/>
                                </h:link>

                                <h:link value="Edit | " outcome="faces/editContact.xhtml">
                                
                                  <f:param name="contactID" value="4"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeContact.removeContact(1)}">
                                </h:commandLink>
                                    
                            </td>
                            
                            </tr>

                    </ui:repeat> 
                    
                   </table>
                   
                   <div>
                    <h:commandButton id="add" value="Add Contact" action="addContact.xhtml" class="btn btn-primary" >
                    <f:param name="customerID" value="2"/>
                    </h:commandButton>
                </div>
                 
                 <h:link id="close" value="Close" outcome="faces/index.xhtml"
						class="btn btn-primary" />
                
            </h:form>
        </div>

</h:body> 
</html>
