<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
</h:head> 
<body> 

        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street number: </td>
                        <td valign="bottom">
                            <h:inputText id = "streetNumber" value="#{customerController.customer.address.streetNumber}" binding="#{streetNumber}" required="true"
                                         validatorMessage="Please enter a valid street number."
                                         requiredMessage="Please enter a street number. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Street address: </td>
                        <td valign="bottom">
                            <h:inputText id = "streetAddress" value="#{customerController.customer.address.streetAddress}" binding="#{streetAddress}" required="true"
                                         requiredMessage="Please enter an street address. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Suburbs: </td>
                        <td valign="bottom">
                            <h:inputText id = "suburb" value="#{customerController.customer.address.suburb}" binding="#{suburb}" required="true"
                                         requiredMessage="Please enter a suburb. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">State: </td>
                        <td valign="bottom">
                            <h:inputText id = "state" value="#{customerController.customer.address.state}" binding="#{state}" required="true"
                                         requiredMessage="Please enter a state. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Postcode: </td>
                        <td valign="bottom">
                            <h:inputText id = "postcode" value="#{customerController.customer.address.postcode}" binding="#{postcode}" required="true"
                            f:requiredMessage="Please enter a postcode. ">
                            <f:convertNumber integerOnly="true"/>
                            </h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Customer Name: </td>
                        <td valign="bottom">
                            <h:inputText id = "customerName" value="#{customerController.customer.customerName}" binding="#{customerName}" required="true"
                                         requiredMessage="Please enter a customer name. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Last purchased machine type: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "lastPurchase" value="#{customerController.customer.lastPurchase}"  required="true">
                            </h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Total purchase: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "Size" value="#{customerController.customer.totalPurchase}"  required="true"
                                         validatorMessage="Please enter a value greater than 0.0"
                                                 requiredMessage="Please enter total amount of purchase. "></h:inputText>    
                        </td>
                    </tr>
                    
                </table>
                
                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/index.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>

</body> 
</html>
