<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
</h:head> 
<body> 
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer List
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="CustomerName" value="CustomerName"  />
                            </td>
          					<td> 
                                <h:outputLabel id="IndustryType" value="IndustryType"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Address" value="Address"/>
                            </td>
                            
                     </tr>
                   <ui:repeat id="Myrepeat" value="#{customerApplication.customers}" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent"> 
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).customerId}" id="customerID" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="outCustomerName" value="#{customerApplication.customers.get(status.index).customerName}"  />
                            </td>
                            <td>
                                <h:outputText id="outIndustryType" value="#{customerApplication.customers.get(status.index).industryType}"></h:outputText>
                            </td>
                            <td>
                                <h:outputText id="outAddress" value="#{customerApplication.customers.get(status.index).address}"></h:outputText>
                            </td>
                            <td>
                                <h:link value="View | " outcome="faces/detail.xhtml">
                                
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="faces/edit.xhtml">
                                
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 

                </table>
                
                <div>
                    <h:commandButton id="add" value="Add Customer" action="add.xhtml" class="btn btn-primary" />
                
                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   /> 
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                
            </h:form>
        </div>
</body> 
</html>
